.subgrid {
  grid-column: screen;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-column-gap: inherit;
  grid-row-gap: inherit;
}

d-figure.base-grid {
  grid-column: screen;
  background: hsl(0, 0%, 97%);
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
  margin-bottom: 1em;
  position: relative;
}

d-figure > figure {
  margin-top: 0;
  margin-bottom: 0;
}

.shaded-figure {
  background-color: hsl(0, 0%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 30px 0;
}

.pointer {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 26px;
  left: -48px;
}

.todo {
  color: red;
}

/* .red {
  color: red;
}

.blue {
  color: blue;
} */

d-appendix h3 {
    grid-column: text !important;
}

d-appendix ol.instructions {
    margin-left: initial;
}

/* ## Debate Styling ## */

/* Color Definitions, from Shan's SVGs */

:root {
  --red-fg-color: hsl(18, 100%, 50%);
  --red-bg-color: hsl(18, 95%, 92%);
  --red-border-color: hsl(18, 100%, 92%);

  --blue-fg-color: hsl(205, 100%, 50%);
  --blue-bg-color: hsl(205, 95%, 92%);
  --blue-border-color: hsl(205, 100%, 92%);
}

/* List */

ol.debate {
    position: relative;
    list-style-type: none;
    padding-left: 3em;
}

ol.debate li:last-of-type {
    margin-bottom: 0;
}

/* Speech bubbles */

ol.debate li {
    border-radius: 1em;
    border-top-left-radius: 0;
    border: 1px solid hsl(0, 0%, 33%);
    padding: .5em .5em .5em 1em;
    margin-bottom: .5em;
}

ol.debate li.question {
    font-weight: 600;
}

ol.debate li.judge {
    border-color: hsl(0, 0%, 67%);
}

ol.debate li.red {
    background-color: var(--red-bg-color);
    border-color: var(--red-border-color);
}

ol.debate li.blue {
    background-color: var(--blue-bg-color);
    border-color: var(--blue-border-color);
}

/* RED/BLUE identifiers */

ol.debate li::before {
    position: absolute;
    left: .5em;
    background-color: unset;
    font-size: 75%;
}

ol.debate li.red::before {
    content: "RED";
    color: var(--red-fg-color);
}

ol.debate li.blue::before {
    content: "BLUE";
    color: var(--blue-fg-color);
}
